div {
    width: 300px;
    height: 300px;
    margin: auto;
    background-color: salmon;
    border-radius: 500px;
    text-align: center;
    line-height: 300px;
    background-image: url(/gambar/43590.jpg);
}